{% extends 'myapp/base.html' %}
{% block content %}



        <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

                <h1 class="fst-italic text-center text-black">My Post Detail:</h1>
                <a href="{% url 'myapp:home' %}"><h5>Back to home</h5></a>
                <hr style="height:5px; width:100%; border-width:2;background-color:red">

                {% for post in object_list %}
                        <h4 class="text-info">{{post.title}} </h4>
                        <h4 class="text-danger">Description: <h6>{{post.description}}</h6></h4>
                        <br>
                        {% if post.pic %}
                             <img src="{{ post.pic.url }}"  width="500"/></a>
                        {% else %}
                              <br>
                                <b><p class="text-primary font-weight-bold">Image is not uploaded</p></b> 
                              <br>
                        {% endif %}
                        <br><br>

                        <a href= "{% url 'myapp:postupdate' post.pk %}"  class="btn btn-outline-warning">update</a>
                        <a href= "{% url 'myapp:delete' post.pk %}"  class="btn btn-danger" >delete</a>
                        <br><hr style="height:5px; width:100%; border-width:2;background-color:red" >

                {% endfor %}
        </form>


{% endblock content %}